
<div class="heldekkende" ng-swipe-left="prevPage()" ng-swipe-right="nextPage()">

	<div style="padding:20px;">

		<a href="#/selfservice" class="btn btn-large btn-primary" style="float:right; margin:20px;">
			Låne noe?
		</a>

		<h3>Bla gjennom samlingen, finn noe du vil ha og hent det på hylla!</h3>

		<div ng-show="error" style="color:white; font-size:3em; background:red; padding:1em; border-radius:.3em;">
			{{error}}
		</div>
	</div>

	<ul class="books" style="clear:both;">

		<li class="book" style="margin:10px;padding: 10px; background:#4444ff; border-radius: 10px; width:29%;display:block;float:left;" ng-repeat="book in books">

			<div style="float:left; width:190px; height: 260px; margin:3px 8px;">
				<img ng-src="{{book.cachedCover}}" style="max-height: 260px; max-width: 190px; display: block; margin: auto; box-shadow: 2px 2px 5px #888888;">
			</div>
			<strong class="title">{{book.title}} {{book.subtitle }}</strong>
			<span class="publisher">({{book.publisher }} {{book.year}})</span>
				<br />
			Av: {{book.authors}}<br /><br />
			<span class="{{ book.available ? 'available' : 'unavailable' }}">
				{{ book.available ? 'Tilgjengelig' : 'UTLÅNT' }}
			</span>
			<div style="clear:left;"></div>
		</li>

	</ul>

</div>

<div style="text-align:center; position:absolute;bottom:40px;left:0;width:100%; font-size: 14em;">
	<a href ng-click="prevPage()"><i class="icon-circle-arrow-left"></i></a>
	<a href ng-click="nextPage()"><i class="icon-circle-arrow-right"></i></a>
</div>
