
html,
body {
  background: #0000bb;
  width: 100%;
  height: 100%;
  color: white;
  margin: 0;
  padding: 0;
  overflow:hidden;
  /* The html and body elements cannot have any padding or margin. */
}
* {
  cursor: none !important;
}

a:not(.btn), a:link:not(.btn), a:hover:not(.btn), a:visited:not(.btn)  {
  color: #0088CC; !important;
}
h2, h3, .indie {

font-family: 'Noto Sans', sans-serif;

}
.indie {
  font-size: 140%;
}

/*************************************************************************************
 * PREVENT INITIAL FLICKERING
 *************************************************************************************/


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*************************************************************************************
 * CENTRAL NOTICE
 *************************************************************************************/

.centralnotice {
  height:60px;
  background:orange; color:white;text-align:center;
  border-radius: 0 0 8px 8px;
  margin-left:100px;
  margin-right:100px;
  position:relative;
  font-size: 140%;
}

.centralnotice.ng-hide-remove,
.centralnotice.ng-hide-add
{
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;
}

.centralnotice.ng-hide-remove {
    top: -60px;
    margin-bottom:-60px;

    /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
    display:block!important;
    opacity:0;
}
.centralnotice.ng-hide-remove.ng-hide-remove-active {
    top: 0;
    margin-bottom:0;
    opacity:1;
}

.centralnotice.ng-hide-add {
    top: 0;
    margin-bottom:0;
}
.centralnotice.ng-hide-add.ng-hide-add-active {
    top: -60px;
    margin-bottom:-60px;
    opacity:0;
}

/*************************************************************************************
 * SLIDES
 *************************************************************************************/

.slide {
  width:100%;
  position: absolute;
}
.slide.ng-enter,
.slide.ng-leave
{
    -webkit-transition: 625ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -moz-transition: 625ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -ms-transition: 625ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -o-transition: 625ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    transition: 625ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter.ng-enter-active {
    left: 0;
}

.slide.ng-leave {
    left: 0;
}
.slide.ng-leave.ng-leave-active {
    left: -100%;
}

/*************************************************************************************
 * AND THEN... CHAOS!
 *************************************************************************************/

input[type="text"] {
  background: #0000ff !important;
  color: white !important;
}
.huge {
  font-size:40px !important;
  height: auto !important;
}
button.huge, a.huge {
  padding: 18px;

}

.numpad .btn {
  font-size: 60px;
  padding: 40px;
}

a:link, a:visited {
  text-decoration: none;
}

.view {
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
}

.heldekkende {
  width:100%;
  height:100%;
  margin: 0;
}

.container {
  width:100%;
  height:100%;
  background: #0000bb;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -28px;
}

.wizard .books {
  height: 750px;
  overflow-y:auto;
}
.wizard .book {
  clear: both;
}

/*.openbook-bg {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  -webkit-filter: blur(2px) opacity(0.7) sepia(0.3); 
}*/
.modal2 {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  -webkit-transition: .4s all linear;
  transition: .4s all linear;
  opacity: 1;
}
.modal2 .inner {
  border-radius: 10px;
  padding: 20px;
  margin: 200px 100px 0 100px;
  background: rgba(255,255,255,100);
  color: #666;
  font-size: 2em;
  line-height: 120%;
}
.modal2 .inner {
  -webkit-transition: .4s all linear;
  transition: .4s all linear;
}
.modal2.ng-enter .inner {
  opacity: 0;
}
.modal2.ng-enter.ng-enter-active .inner {
  opacity: 1;
}
.modal2.ng-leave .inner {
  opacity: 1;
}
.modal2.ng-leave.ng-leave-active .inner {
  opacity: 0;
}


.container {
  -webkit-transition: 0.4s all linear;
  transition: 0.4s all linear;
}


.blurred.ng-add {
  filter: blur(0);
  -moz-filter: blur(0);
  -webkit-filter: blur(0);
 }        /* starting animations for enter */
.blurred.ng-add-active {

 } /* terminal animations for enter */
.blurred.ng-remove { }        /* starting animations for leave */
.blurred.ng-remove-active {
  filter: grayscale(0) blur(0);
  -moz-filter: grayscale(0) blur(0);
  -webkit-filter: grayscale(0) blur(0);
} /* terminal animations for leave */
.blurred {
  filter: grayscale(0.7) blur(3px);
  -moz-filter: grayscale(0.7) blur(3px);
  -webkit-filter: grayscale(0.7) blur(3px);
}



.books .book {
  margin: 10px;
  padding: 10px;
  background: #4444ff;
  border-radius: 10px;
  width: 29%;
  display: block;
  float: left;
}

div.error {
  color: white;
  font-size: 3em;
  background: red;
  padding: 1em;
  border-radius: .3em;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 28px;
  position:absolute;
  bottom: 0;
  width:100%;
  background-color: #000088;
  opacity: 0.8;
  color: #888;
}
footer, footer * {
  font-family: 'Share Tech Mono', sans-serif;
  overflow:hidden;
}

.container {
  width: auto;
  overflow: auto;
  height: 100%;
}
.container .credit {
  margin: 5px 5px;
  text-align: left;
}

.item {
  text-align: left;
}
.item td {
  padding: 10px;
}

.item .cover {
  width: 160px; 
  border-radius: 5px; 
  background: #eee; 
  box-shadow: 2px 2px 6px #888888;
}
.item .field {
  font-size: 120%;
}
.item .title {
  font-weight: bold;
}
.item .pubyear:before {
  content: '(';
}
.item .pubyear:after {
  content: ')';
}

#borrowing-cart {
  overflow: hidden;
  max-height: 500px;
}
#slide3 table {
  margin: auto;
}
#slide3 td {
  padding: 10px;
}
#slide3 .btn {
  width: 60px;
  padding: 30px 60px;
  font-size: 300%;
}
#tlfnr {
  font-size: 500%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

header {
  padding: 10px;
}

header h1 {
  color: white;
  font-size: 150%;
}
header .underline {
  background: #006;
  float: left;
  display: inline-block;
  padding: 3px;
}
header small {
    font-size: 90%;
    color: #FF0000;
}

header h3 {
	font-size: 100px;
  color: white;
  clear:both;
}

.inner, .slides {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.slide {

}
.inner-small {
  width: 70%;
  margin: 0 auto;
}
.inner-large {
  width: 90%;
  margin: 0 auto;
}
.inner-small .slides {
  width: 100%;
  height: 450px;
}
.inner-large .slides {
  width: 100%;
  height: 750px;
}

.slide {
  font-family: 'Noto Sans', sans-serif;
}
.inner > hr {
  margin: 0 0;
}

/* Main message */
.wizard > div {
  padding: 20px;
  width: 85%;
  margin:30px auto;
  min-height: 450px;
  background: white;
  /*
  background: white;
  /*border: 3px solid #0F0;*/
  border-radius: 8px;
  color: #333;
  box-shadow: 0px 0px 30px #ffffdd;
}
.slides h1 {
  font-size: 72px;
  line-height: 1;
}
.slides .btn {
  font-size: 21px;
  padding: 14px 24px;
}



.slides2 {
  position: relative;
  width:100%;
  height: 750px;
  font-size: 18px;
}

.slides2 .inner {
  padding: 10px 160px;
}

