html, body {
  height: 100%;
  width: 100%;
}
body {
  /*font-family:'Source Code Pro', sans-serif;*/
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #777;
  font-size:0.8em;
  /*background: url(/img/20-seamless-paper-texture/Texture0219.jpg);*/
}
@media screen {
  .container-narrow {
    max-width: 700px;
    margin: 0 auto;
     height:100%;
  }
}

.pagination {
  text-align: center;
}

.main .inner {
  padding: 10px 20px;
}

.alert {
  margin: 1em 3em;
  border-width:3px;
  box-shadow: 2px 2px 5px #888888;
}

a {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
a:link, a:visited {

}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  padding: 10px 0;
  margin-bottom: 10px;
}
@media print {
  header {
    display: none;
  }
  .pagecontainer {
    padding: 2em;
  }
  .hidden-print {
    display: none;
  }
}

.book-header {
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-bottom:2em;
  margin-top:2em;
}
h1 {
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  line-height: 120%;
  color: #ff0;
  text-shadow: 4px 4px 2px rgba(150, 0, 0, 1);
  margin-bottom: 40px;
}
h2 {
  color: black;
  padding: 5px;
  font-size: 2em;
  line-height: 100%;
  border-bottom: 1px solid #ccc;
}

.book-desc {
  width: 100%;
  table-layout: fixed;
}
.book-desc .view, .book-desc .editor {
  font-size: 18px;
  color: #333;
  font-family: sans-serif;
}
.book-desc .editor {
  display: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background: rgba(255,255,255,0);
  border:none;
  overflow:hidden;
}
.book-desc .col1 {
  vertical-align: center;
  width: 40%;
}
.book-desc .col2 {
  vertical-align: top;
  font-size: 1.4em;
  color: #333;
  padding: 1em;
}
.cover {
  padding: 1em 2em;
}
.cover img {
  display: block;
  border: 1px solid black;
  margin: 1em auto; 
}

.qrcode img {
  display: block;
  margin: 1em auto; 
  opacity: 0.7;
}

