<div class="wizard">
  <div style="padding:20px;">

    <div class="slides2">

      <div class="slide" ng-if="step=='start'">

        <div class="inner">

          <h3 style="padding:30px 0;">
            <span style="color:blue;">
              <i class="fa fa-angle-double-right"></i> Har du lånekort fra før? Skann kortet nå.
            </span><br />
            <i class="fa fa-angle-double-right"></i> Hvis ikke, tast inn telefonnummeret ditt.
          </h3>

          <form ng-submit="nextStep()" style="float:right;">
            <input type="text" ng-model="data.phone" class="huge" /><br />
            <button type="button" ng-click="slettTegn()" ng-disabled="data.phone.length==0" class="btn btn-danger huge">&nbsp;&nbsp; ← &nbsp;&nbsp;</button>
            <button type="submit" ng-disabled="data.phone.length<8" class="btn btn-success huge">&nbsp;&nbsp; ✓ &nbsp;&nbsp;</button>
          </form>

          <table class="numpad">
            <tr>
              <td>
                <a href ng-click="tast('1')" class="btn btn-warning">1</a>
              </td>
              <td>
                <a href ng-click="tast('2')" class="btn btn-warning">2</a>
              </td>
              <td>
                <a href ng-click="tast('3')" class="btn btn-warning">3</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href ng-click="tast('4')" class="btn btn-warning">4</a>
              </td>
              <td>
                <a href ng-click="tast('5')" class="btn btn-warning">5</a>
              </td>
              <td>
                <a href ng-click="tast('6')" class="btn btn-warning">6</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href ng-click="tast('7')" class="btn btn-warning">7</a>
              </td>
              <td>
                <a href ng-click="tast('8')" class="btn btn-warning">8</a>
              </td>
              <td>
                <a href ng-click="tast('9')" class="btn btn-warning">9</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href ng-click="tast('+')" class="btn btn-warning">+</a>
              </td>
              <td>
                <a href ng-click="tast('0')" class="btn btn-warning">0</a>
              </td>
              <td>
              </td>
            </tr>
          </table>

        </div>

    </div>

    <div class="slide" ng-if="step=='wait'">

      <p style="text-align:center;font-size:3em;padding:80px;">
        Titter i telefonkatalogen...
      </p>

      <p style="padding-top:20px; text-align:center; border-top: 1px solid #bbb; margin-top:60px;">
        <img src="/assets/1890-logo-orange-flat.png" style="width:34px">
        Nummeropplysningstjenesten er levert av EasyConnect / 1890.
      </p>


    </div>

    <div class="slide" ng-if="step=='confirm'">

      <div style="padding: 10px 160px;">

        <h3 style="padding:30px 0;">
          Vi har sendt deg en SMS-engangskode.<br>
          <i class="fa fa-angle-double-right"></i> Skriv inn koden for å fullføre utlånet.
        </h3>

        <form ng-submit="nextStep()" style="float:right; width: 400px;">

          <p>
            <strong>
              Hei{{data.name ? ' ' + data.name : ''}}!
            </strong>
          </p>

          Telefon: {{data.phone}}. <a href ng-click="changePhoneNo();">Feil nummer?</a>

          <p ng-hide="newuser">
            Du er allerede registrert som låner.
          </p>

          <p ng-show="newuser">
            Velkommen som ny låner.
            <span ng-hide="data.name">
              P.S. Vi fant deg ikke i telefonkatalogen, men det går greit.
            </span>
          </p>

          <input id="bekreftelse" type="text" class="huge" ng-model="data.code"  class="huge">
          <button type="button" ng-click="slettTegn()" ng-disabled="data.code.length==0" class="btn btn-danger huge">&nbsp; ← &nbsp;</button>

          <br><br>

          <p>
            Ved å fortsette samtykker du i at ditt navn og telefonnummer lagres hos oss.
            Informasjonen vil ikke bli brukt til annet enn å sende deg påminnelser hvis du
            skulle glemme å levere det du har lånt.
          </p>

          <button type="submit" ng-disabled="data.code.length<4" class="btn btn-success huge">
            &nbsp; ✓ Fortsett &nbsp;
          </button>
        </form>


        <table class="numpad">
          <tr>
            <td>
              <a href ng-click="tast(1)" class="btn btn-warning">1</a>
            </td>
            <td>
              <a href ng-click="tast(2)" class="btn btn-warning">2</a>
            </td>
            <td>
              <a href ng-click="tast(3)" class="btn btn-warning">3</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href ng-click="tast(4)" class="btn btn-warning">4</a>
            </td>
            <td>
              <a href ng-click="tast(5)" class="btn btn-warning">5</a>
            </td>
            <td>
              <a href ng-click="tast(6)" class="btn btn-warning">6</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href ng-click="tast(7)" class="btn btn-warning">7</a>
            </td>
            <td>
              <a href ng-click="tast(8)" class="btn btn-warning">8</a>
            </td>
            <td>
              <a href ng-click="tast(9)" class="btn btn-warning">9</a>
            </td>
          </tr>
          <tr>
            <td>

            </td>
            <td>
              <a href ng-click="tast(0)" class="btn btn-warning">0</a>
            </td>
            <td>

            </td>
          </tr>
        </table>

        <p style="padding-top:20px; text-align:center; border-top: 1px solid #bbb; margin-top:60px;">
          <img src="/assets/1890-logo-orange-flat.png" style="width:34px">
          Nummeropplysningstjenesten er levert av EasyConnect / 1890.
        </p>

      </div>
    </div>

    <div class="slide" ng-if="step=='writecard'">

      <p style="text-align:center;font-size:3em;padding:80px; line-height: 200%;">

        {{card_status}}

      </p>

    </div>

    <div class="slide" ng-if="step=='checkout'">

      <p style="text-align:center;font-size:3em;padding:80px;">

        {{checkout_status}}

      </p>

      <p style="text-align:center;font-size:3em;padding:80px;">

        <a href="#/index" ng-show="checkout_error" class="btn huge">Tilbake</a>

      </p>

    </div>

     <div class="slide" ng-if="step=='complete'">

      <p style="text-align:center;font-size:3em;padding:80px;">

        Hurra, utlånet var vellykka!

      </p>

      <p style="text-align:center;font-size:3em;padding:80px;">
        <button ng-click="myloans()" class="btn btn-primary huge">Vis mine lån</button>
        <button ng-click="home()" class="btn btn-primary huge">Avslutt</button>
      </p>

    </div>

</div>
</div>
</div>
